<footer style="background:#222; color:#ccc;">
    <div class="partners-footer" style="background:#222; color:#ccc;">
        <div class="footer-left">
            <img src="/static/images/logo2.png" alt="FutureLab" class="footer-logo2">
            <div class="footer-meta">
                The activity is carried out with the grant support of the «Skolkovo» Foundation<br>
                © 2011–2025 Future Lab, LLC. All rights reserved<br>
                ИНН 6658399868, <a href="/static/privacy_policy.pdf" download style="color:#b3d1ff;text-decoration:underline;">Политика конфиденциальности</a>
            </div>
        </div>
        <div class="footer-right">
            <a href="https://vk.com/robot_urfu" class="footer-social" target="_blank">
                Мы в социальных сетях <img src="/static/images/vk.png" alt="VK" class="footer-vk">
            </a>
            <div class="footer-partners">
                <img src="/static/images/fund1.png" alt="Фонд 1" class="footer-fund">
                <img src="/static/images/fund2.png" alt="Фонд 2" class="footer-fund">
                <img src="/static/images/fund3.png" alt="Фонд 3" class="footer-fund">
                <img src="/static/images/fund4.png" alt="Фонд 4" class="footer-fund">
            </div>
        </div>
    </div>
</footer> 